{% extends "base.html" %}

{% block extrahead %}

<link rel="apple-touch-icon" sizes="180x180" href="{{ config.site_url }}images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ config.site_url }}images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ config.site_url }}images/favicon-16x16.png">
<link rel="mask-icon" href="{{ config.site_url }}images/safari-pinned-tab.svg" color="#293235">
<link rel="shortcut icon" href="{{ config.site_url }}images/favicon.ico">
<meta name="apple-mobile-web-app-title" content="Tiny Weather Forecast Germany">
<meta name="application-name" content="Tiny Weather Forecast Germany">
<meta name="msapplication-TileColor" content="#293235">
<meta name="msapplication-config" content="{{ config.site_url }}images/browserconfig.xml">
<meta name="theme-color" content="#293235">

{% if page and page.meta and page.meta.robots %}

<meta property="robots" content="{{ page.meta.robots }}" />

{% else %}

<meta property="robots" content="index, follow" />

{% endif %}

{% set title = config.site_name %}

{% set image = config.site_url ~ "images/twfg-repository-open-graph-graphic.png" %}

{% if page and page.meta and page.meta.title %}

  {% set title = title ~ " - " ~ page.meta.title %}

{% elif page and page.title and not page.is_homepage %}

  {% set title = title ~ " - " ~ page.title | striptags %}

{% endif %}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ config.site_description }}" />
<meta name="twitter:image" content="{{ image }}" />

{% set title = config.site_name %}
 {% if page and page.meta and page.meta.title %}
  {% set title = title ~ " - " ~ page.meta.title %}
   {% elif page and page.title and not page.is_homepage %}
    {% set title = title ~ " - " ~ page.title | striptags %}
     {% endif %}
      <meta property="og:type" content="website" />
      <meta property="og:title" content="{{ title }}" />
      <meta property="og:description" content="{{ config.site_description }}" />
      <meta property="og:url" content="{{ page.canonical_url }}" />
      <meta property="og:image" content="{{ image }}" />
      <meta property="og:image:type" content="image/png" />
      <meta property="og:image:width" content="1200" />
      <meta property="og:image:height" content="630" />
{% endblock %}

{% set extracopyright %}
  <br><b>License:</b> GPLv3; <a href="https://framagit.org/tinyweatherforecastgermanygroup/tinyweatherforecastgermanygroup.frama.io">source</a> hosted on framagit.org in Germany.
  <br>Used trademarks and brands belong to their owners. Please also see <a href="https://github.com/simple-icons/simple-icons/blob/develop/DISCLAIMER.md">here</a>.
{% endset %}
